:root {
    --text-primary: white;
    --text-secondary: rgb(150, 150, 150);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(150, 150, 150);
}

.user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgb(30, 30, 30, 0.2);
    backdrop-filter: blur(2px);
}

.user-modal-content {
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
    width: 320px;
    height: auto;
    position: relative;
}

.user-modal-content:hover {
    border: 1px solid #444444;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    color: rgb(150, 150, 150);
    transition: all 0.3s ease-out;
}

.close-button:hover {
    font-weight: 1000;
    color: white;
}

.close-button:active {
    transform: scale(0.95);
}

.plain-text-button {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(150, 150, 150);
    font-size: 12px;
    font-weight: 600;
    padding: 0;
    transition: all 0.3s ease-out;
}

.plain-text-button:hover {
    color: #d5d5d5;
}

.confirm-button {
    border-radius: 4px;
    background-color: rgb(50, 200, 50);
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 100% auto;
    height: auto;
    border: none;
    padding: 8px;
    margin-bottom: 4px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.confirm-button:hover {
    color: rgb(50, 200, 50);
    background-color: white;
}

.confirm-button:active {
    transform: scale(0.95);
}

.confirm-button:disabled {
    cursor: not-allowed;
    background-color: rgb(100, 100, 100);
    color: white;
    pointer-events: none;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 32px;
    margin-bottom: 8px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.horizontal-container {
    display: flex;
    margin-bottom: 8px;
    justify-content: space-between;
}

.horizontal-container p {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    color: rgb(150, 150, 150);
}

.form-group label {
    color: rgb(150, 150, 150);
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
    transform: translate(2px, 26px);
    transition: all 0.3s ease-out;
    z-index: 2;
}

/* Active when the focus enter inputbox or there's any texts in the inputbox.(Text in inputbox -> hide placeholder -> placeholder-shown become false.) */
.form-group:focus-within label,
.form-group:has(input:not(:placeholder-shown)) label {
    transform: translate(2px, 0px);
}

.form-group input,
textarea {
    width: 100% auto;
    background-color: rgb(60, 60, 60);
    border: 1px solid rgb(80, 80, 80);
    border-radius: 4px;
    outline: none;
    padding: 8px;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.form-group input:focus,
.form-group textarea:focus {
    border: 1px solid white;
}

.form-group input:disabled,
.form-group textarea:disabled {
    background-color: rgb(45, 45, 45);
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper input {
    width: 100%;
    padding-right: 36px;
    box-sizing: border-box;
}

.status-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: help;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease-out;
    z-index: 3;
}

.tooltip-box {
    visibility: hidden;
    opacity: 0;
    width: 250px;
    background-color: #333;
    color: rgb(150, 150, 150);
    border: 1px solid rgb(75, 75, 75);
    text-align: left;
    border-radius: 6px;
    padding: 10px;

    position: absolute;
    bottom: 120%;
    right: -10px;

    transition: opacity 0.3s;
    font-size: 16px;
    line-height: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    pointer-events: none;
}

.tooltip-box::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(75, 75, 75) transparent transparent transparent;
}

.tooltip-box ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.status-icon:hover .tooltip-box {
    visibility: visible;
    opacity: 1;
}
.icon-default { color: rgb(150, 150, 150); }
.icon-default:hover { color: rgb(200, 200, 200); }
.icon-valid { color: rgb(50, 200, 50); }
.icon-valid:hover { color: rgb(50, 255, 50); }
.icon-invalid { color: rgb(200, 50, 50); }
.icon-invalid:hover { color: rgb(255, 50, 50); }

.password-rule-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    padding: 0;
    transition: all 0.3s ease-out;
}

.password-rule-valid-button {
    color: rgb(50, 200, 50);
}

.password-rule-valid-button:hover {
    color: rgb(50, 255, 50);
}

.password-rule-invalid-button {
    color: rgb(200, 50, 50);
}

.password-rule-invalid-button:hover {
    color: rgb(255, 50, 50);
}

/* ProfileModal */

.profile-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-modal-content {
    background-color: rgb(30, 30, 30);
    color: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
    width: 320px;
    height: auto;
    position: relative;
}

.edit-button {
    border-radius: 4px;
    background-color: rgb(50, 50, 255);
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 120px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.edit-button:hover {
    color: rgb(50, 50, 255);
    background-color: white;
}

.edit-button:active {
    transform: scale(0.95);
}

.active {
    color: white;
    background-color: rgb(255, 50, 50);
}

.active:hover {
    color: rgb(255, 50, 50);
    background-color: white;
}

.active:active {
    transform: scale(0.95);
}

.submit-button {
    border-radius: 4px;
    background-color: rgb(50, 200, 50);
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 120px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.submit-button:hover {
    color: rgb(50, 200, 50);
    background-color: white;
}

.submit-button:active {
    transform: scale(0.95);
}

.submit-button:disabled {
    cursor: not-allowed;
    background-color: rgb(100, 100, 100);
    color: white;
    pointer-events: none;
}