.user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: #505050;
}

.user-modal-content {
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
    width: 320px;
    height: auto;
    position: relative;
}

.user-modal-content:hover {
    border: 1px solid #444444;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    color: white;
}

.switch-button {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(150, 150, 150);
    font-size: 12px;
    font-weight: 600;
    padding: 0;
}

.confirm-button {
    border-radius: 4px;
    background-color: rgb(60, 60, 60);
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 100% auto;
    height: auto;
    border: none;
    padding: 8px;
    margin-bottom: 4px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.confirm-button:hover {
    color: rgb(60, 60, 60);
    background-color: white;
}

.user-modal-content h1 {
    text-align: center;
    margin: 0;
    font-size: 32px;
    margin-bottom: 8px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.hint-group {
    display: flex;
    margin-bottom: 8px;
    justify-content: space-between;
}

.form-group label {
    color: rgb(150, 150, 150);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}

.form-group input {
    width: 100% auto;
    background-color: rgb(60, 60, 60);
    border: 1px solid rgb(80, 80, 80);
    border-radius: 4px;
    outline: none;
    padding: 8px;
    font-size: 16px;
    color: white;
    transition: all 0.3s ease-out;
}

.form-group input:focus {
    border: 1px solid white;
}